.nav{
  font-size: 1.4rem;
  margin-top: 10px;

  &__top{
    display: flex;
    justify-content: space-between;
    a{
      text-decoration: none;
      cursor: pointer;
    }
    &__cart{
      position: relative;
      margin-right: 10px;
      font-size: 1.6rem;
      &_count{
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 1rem;
        display: inline-block;
        background: red;
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 3px;
        text-align: center;
        opacity: 0.8;
      }
    }
    &__menu{
      a{
        margin-right: 100px;
        @media screen and (max-width: 400px){
          margin-right: 10px;
        }
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
  &__center{
    display: flex;
    justify-content: center;
  }
}