.card{
  position: relative;
  background: #F2F8FD;
  max-width: 250px;
  height: 300px;
  border-radius: 20px;
  &:hover{
    -webkit-box-shadow: 10px 10px 23px 5px rgba(219,219,219,1);
    -moz-box-shadow: 10px 10px 23px 5px rgba(219,219,219,1);
    box-shadow: 10px 10px 23px 5px rgba(219,219,219,1);
  }
  &__image{
    position: absolute;
    top: -30px;
    left: -30px;
    img{
      height: 350px;
    }
  }
  &__info{
    position: absolute;
    right: 10px;
    top: 40px;
    text-align: right;
    font-size: 1.2rem;
    opacity: 0.8;
    &_name{
      font-size: 1.5rem;
    }
    &_color{
      margin-top: 40px;
    }

    &_price{
      font-size: 1.4rem;
      margin-top: 10px;
    }
  }
  &__action{
    position: absolute;
    bottom: 10px;
    right: 10px;
    &_add{
      outline: none;
      font-size: 1.4rem;
      color: #fff;
      width: 180px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background: #00CF91;
      cursor: pointer;
      &:hover{
        background: #45D09E;
      }
    }
  }
}